<p id="notice"><%= notice %></p>

<p>
  <b>Contributions:</b>
  <%= @githuber.contributions %>
</p>

<p>
  <b>Followers:</b>
  <%= @githuber.followers %>
</p>

<p>
  <b>Interests:</b>
  <%= @githuber.interests %>
</p>

<p>
  <b>Language:</b>
  <%= @githuber.language %>
</p>

<p>
  <b>Link:</b>
  <%= @githuber.link %>
</p>

<p>
  <b>Location:</b>
  <%= @githuber.location %>
</p>

<p>
  <b>Name:</b>
  <%= @githuber.name %>
</p>

<p>
  <b>Reps:</b>
  <%= @githuber.reps %>
</p>

<p>
  <b>Username:</b>
  <%= @githuber.username %>
</p>

<p>
  <b>Country:</b>
  <%= @githuber.country %>
</p>


<%= link_to 'Edit', edit_githuber_path(@githuber) %> |
<%= link_to 'Back', githubers_path %>
