<p id="notice"><%= notice %></p>

<p>
  <b>Speciality:</b>
  <%= @ithero.speciality %>
</p>

<p>
  <b>Language:</b>
  <%= @ithero.language %>
</p>

<p>
  <b>Spec more:</b>
  <%= @ithero.spec_more %>
</p>

<p>
  <b>Tenure:</b>
  <%= @ithero.tenure %>
</p>

<p>
  <b>Tenure current:</b>
  <%= @ithero.tenure_current %>
</p>

<p>
  <b>Netwage:</b>
  <%= @ithero.netwage %>
</p>

<p>
  <b>Wage diff:</b>
  <%= @ithero.wage_diff %>
</p>

<p>
  <b>City:</b>
  <%= @ithero.city %>
</p>

<p>
  <b>Company size:</b>
  <%= @ithero.company_size %>
</p>

<p>
  <b>Gender:</b>
  <%= @ithero.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @ithero.age %>
</p>

<p>
  <b>Education:</b>
  <%= @ithero.education %>
</p>

<p>
  <b>English:</b>
  <%= @ithero.english %>
</p>

<p>
  <b>Date:</b>
  <%= @ithero.date %>
</p>

<p>
  <b>User agent:</b>
  <%= @ithero.user_agent %>
</p>


<%= link_to 'Edit', edit_ithero_path(@ithero) %> |
<%= link_to 'Back', itheros_path %>
